@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Ultra&display=swap');

:root{
    --main-bg-color: #1B1B2F;
    --second-bg-color: #162447;
    --third-bg-color: #1F4068;
    --delete-color: #FA7070;
    --update-bg-color: #FBF2CF;
    --create-bg-color: #A1C298;
    --detail-bg-color: #C6EBC5;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--main-bg-color);
    font-family: 'PT Serif', serif;
}

main{
    text-align: center;
    color: white;
    padding: 2rem 0;
}

main h1{
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Ultra', serif;
}

main > form.paginationForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem 15rem;
    border: 1px solid;
    background: var(--third-bg-color);
    padding: 1rem;
    border-radius: 25px;
}

.products__table{
    overflow: hidden;
    width: 80%;
    margin: 1rem auto;
    border: 1px solid;
    border-radius: 25px;
}

.products__table__row{
    display: grid;
    grid-template-columns: 15% 10% 1fr 30%;
    justify-content: space-between;
    align-items: baseline;
    padding: .5rem 0;
    color: white;
    background-color: var(--second-bg-color);
}

.products__table__row:nth-of-type(even){
    background-color: var(--third-bg-color);
}

.products__table__row .products__table__col:last-child{
    display: flex;
    justify-content: space-around;
}

.products__table__header{
    font-family: 'Ultra', serif;
}

a.button{
    border: 1px solid black;
    border-radius: 5px;
    padding: .2rem .4rem;
    text-decoration: none;
    color: black;
}

.deleteButton{
    background-color: var(--delete-color);
}

.updateButton{
    background-color: var(--update-bg-color);
}

.detailsButton{
    background-color: var(--detail-bg-color);
}

.createButton{
    background-color: var(--create-bg-color);
}

.returnButton{
    background-color: var(--detail-bg-color);
}

.paginationContainer{
    border: 1px solid;
    width: 75%;
    margin: 0 auto;
    border-radius: 25px;
    padding: 1rem;
    background: var(--second-bg-color);
    display: flex;
    justify-content: space-evenly;
}

.paginationContainer a{
    border-radius: 100px;
    background: var(--third-bg-color);
    text-decoration: none;
    color: white;
    padding: .1rem .5rem;
    transition: 1s;
}

.paginationContainer a:hover{
    background: var(--detail-bg-color);
    color: black;
    border-radius: 0px;
}

.product__card{
    width: 80%;
    margin: 1rem auto;
    border: 1px solid black;
    border-radius: 25px;
    overflow: hidden;
    background-color: var(--third-bg-color);
    color: white;
}

.card__header{
    background-color: var(--second-bg-color);
}

.card__body {
    padding: 0 1rem;
    text-align: start;
}

.card__body span{
    font-weight: bolder;
}

.card__footer {
    padding: 1rem;
}

.card__footer a{
    background: var(--detail-bg-color);
    border-radius: 15px;
    padding: .5rem;
    color: black;
    text-decoration: none;
}

fieldset{
    color: white;
    width: 80%;
    margin: 0 auto;
    background-color: var(--second-bg-color);
}

fieldset div.inputs{
    display: grid;
    grid-template: 50% 50% / 50% 50%;
}

input#submitButton{
    background: var(--create-bg-color);
    border: none;
    border-radius: 5px;
    padding: .3rem .5rem;
}

input#submitButton:hover{
    background: #7f9977;
}

label{
    display: block;
}

.error{
    visibility: hidden;
    color: red;
}

.showedError{
    visibility: visible;
}
